doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gamers
  body 
    h1= "Add a movie!"
        form(action="/create-game" method="POST")
        label(for="name") name:
        input(type="text" name="name" placeholder="name")
        button#submit.form-control.btn.btn-primary(type="submit") Submit